includeConfig '/home/alu/twerski/Scripts/Nextflow/Levanon_lab_NEXTFLOW_PIPELINE/Configs/Docker/nextflow.base.dockers.config'

// file settings
docker {
    enabled = true
    docker.runOptions='-u $(id -u):$(id -g)'
}

executor {
    $local {
        queueSize = 10
  }
}

// file parameters: 
// general:
    params.genome_fasta = ""

// output dirs paths:
    params.genome_setup_outdir = ""
    params.transform_genome_output_dir = "${params.genome_setup_outdir}/transformed_genome"
    params.index_output_dir = "${params.genome_setup_outdir}/genome_index"

// container settings:
process {
    withName: TRANSFORM {
        container = 'bashell/alpine-bash'
    } 
    withName: INDEX {
        container = 'quay.io/biocontainers/star:2.7.10b--h9ee0642_0'
    }
}