

includeConfig '/private10/Projects/Gili/HE_workdir/HE_scripts/genome_setup.nf.config'
includeConfig '/private10/Projects/Gili/HE_workdir/HE_scripts/pre_anylis.nf.config'
includeConfig '/private10/Projects/Gili/HE_workdir/HE_scripts/HE_detection.nf.config'

params {
    run_mode = "" // transform | search | detect | search-detect 
    transform=false
    detect=true
}