// file settings
docker {
    enabled = true
    docker.runOptions='-u $(id -u):$(id -g)'
}

executor {
    $local {
        queueSize = 10
  }
}
// file parameters: 
// general:
    params.reads_dir = "/private10/Projects/Gili/HE_workdir/first_part/SRA2"


// output dirs paths:
    params.outdir = "first_part/pre_analysis_test"
    params.fastp_output_dir = "${params.outdir}/fastp"
    params.first_map_output_dir = "${params.outdir}/first_map"
    params.transform_output_dir = "${params.outdir}/transformed_unmapped"
    params.second_map_output_dir = "${params.outdir}/second_map"
    params.retransform_output_dir = "${params.outdir}/re-transform"

// FASTP preprocess:
    // general parameters:
        params.pair_end = 1 //(0:SE, 1:PE)

    // Fastp parogramm parameters:
        params.fastp_command = "fastp"
        params.N_bases_num=5 //maximum number of N bases in a read
        params.avg_quality=30 //minimum average quality score of a read
        params.low_quality_per=20 //minimum percentage of bases allowed to be unqualified 
        params.low_quality_num=25 //minimum quality value that a base is qualified (Phred score)

    // reads properties
        params.reads_suffix=".fastq"
        params.mate_suffix="_"
        params.mate1_suff="1"
        params.mate2_suff="2"
        params.SE_pattern="${params.reads_suffix}"
        params.SE_reads='${params.reads_dir}/*${params.SE_pattern}'
        params.PE_pattern_1="${params.mate_suffix}${params.mate1_suff}${params.reads_suffix}"
        params.PE_pattern_2="${params.mate_suffix}${params.mate2_suff}${params.reads_suffix}"
        params.PE_reads="${params.reads_dir}/*${params.mate_suffix}{${params.mate1_suff},${params.mate2_suff}}${params.reads_suffix}"


// FIRST_STAR_MAP:
    // general parameters
        params.fastp_output_suffix=".processed.fastq"
        params.fastq_reads="${params.fastp_output_dir}/*${params.mate_suffix}{${params.mate1_suff},${params.mate2_suff}}${params.fastp_output_suffix}"

    // STAR 1st MAP parameters:
        params.STAR_command="STAR"
        params.read_files_command="cat" //command line to execute for each of the input file
        params.reads="" //paths to files that contain input read1 [read2]
        params.genome_index_dir="/private10/Projects/Gili/HE_workdir/genome_setup/hg38_index"
        params.SAM_attr="All" //desired SAM attributes
        params.outSAMtype="BAM Unsorted"
        params.min_SJ_overhang=8 //minimum overhang (i.e. block size) for spliced alignments
        params.max_intron_size=1000000 //maximum intron length (dafault)
        params.max_mates_gap=600000 //maximum genomic distance between mates
        params.max_mismatches_ratio_to_ref=0.3 //max ratio of mismatches to *mapped* length (dafualt)
        params.max_mismatche_ratio_to_read=1 //max ratio of mismatches to *read* length (dafualt)
        params.norm_num_of_matches=0.66 //min number of matched bases normalized to the read length (sum of mates’ lengths for PE reads) (default)
        params.max_num_of_allignment=1 //max number of multiple alignments allowed for a read (if exceeded->unmapped)
        params.genome_load_set="NoSharedMemory" //genome shared memory is not used (dafault)
        params.num_of_threads=5 //?
        params.unmapped_out_files="Fastx" // unmapped reads will be output into separate file(s)Unmapped.out.mate1[2], formatted the same way as input read files
        params.output_files_permissions="All_RWX"

// TRANSFORM_READS:

// SECOND_MAP:
    //general:
    params.transformed_genomes='/private10/Projects/Gili/HE_workdir/genome_setup/generic_transform/hg38transform/transformed_genome/*'
    params.transformed_indexes='/private10/Projects/Gili/HE_workdir/genome_setup/generic_transform/hg38transform/genome_indexing/*'
    params.num_of_index_files=9

    //STAR secomd map parameters:
    params.STAR_MAX_PARALLEL=6
    params.load_genome_settings = "LoadAndExit" //controls how the genome is loaded into memory
                                                // LoadAndExit: the genome will be removed
                                                // from the shared memory once all STAR jobs using it exit
    params.second_map_genome_load_set = "LoadAndKeep"

// container settings:
process {
    withName: FASTP {
        container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_2'
    }
    withName: FIRST_STAR_MAP {
        container = 'quay.io/biocontainers/star:2.7.10b--h9ee0642_0'
    }
    //withName: TRANSFORM_READS {
   //     container = 'quay.io/biocontainers/biopython'
   // } 
    withName: SECOND_STAR_MAP {
        container = 'quay.io/biocontainers/star:2.7.10b--h9ee0642_0'
    }
    withName: RETRANSFORM {
        container = 'quay.io/biocontainers/pysam'
    }

}

