// file settings
docker {
    enabled = true
    docker.runOptions='-u $(id -u):$(id -g)'
}

executor {
    $local {
        queueSize = 10
  }
}

params {
    // file parameters: 
    // general:
        pair_end = 0 //(0:SE, 1:PE)

        reads_dir= "/private10/Projects/Gili/HE_workdir/first_part/test_samples"
        reads_suffix=".fastq"
        file_name_seperator='_'
        mate_suffix="_"
        mate1_suff="1"
        mate2_suff="2"
        SE_pattern="${params.reads_suffix}"
        SE_reads="${params.reads_dir}/SE_data/*${params.SE_pattern}"
        PE_pattern_1="${params.mate_suffix}${params.mate1_suff}${params.reads_suffix}"
        PE_pattern_2="${params.mate_suffix}${params.mate2_suff}${params.reads_suffix}"
        PE_reads="${params.reads_dir}/SRA2/*${params.mate_suffix}{${params.mate1_suff},${params.mate2_suff}}${params.reads_suffix}"

    // output dirs paths:
        outdir = "first_part/map_test"
        fastp_output_dir = "${params.outdir}/fastp"
        first_map_output_dir = "${params.outdir}/first_map"
        transform_output_dir = "${params.outdir}/transformed_unmapped"
        second_map_output_dir = "${params.outdir}/second_map"
        retransform_output_dir = "${params.outdir}/re-transform"

    // FASTP preprocess:
    // Fastp parogramm parameters:
        fastp_command = "fastp"
        N_bases_num=5 //maximum number of N bases in a read
        avg_quality=30 //minimum average quality score of a read
        low_quality_per=20 //minimum percentage of bases allowed to be unqualified 
        low_quality_num=25 //minimum quality value that a base is qualified (Phred score)

    // FIRST_STAR_MAP:
    // general parameters
        fastp_output_suffix=".processed.fastq"
        fastq_reads="${params.fastp_output_dir}/*${params.mate_suffix}{${params.mate1_suff},${params.mate2_suff}}${params.fastp_output_suffix}"

    // STAR 1st MAP parameters:
        STAR_command="STAR"
        read_files_command="cat" //command line to execute for each of the input file
        reads="" //paths to files that contain input read1 [read2]
        genome_index_dir="/private10/Projects/Gili/HE_workdir/genome_setup/hg38_index"
        SAM_attr="All" //desired SAM attributes
        outSAMtype="BAM Unsorted"
        min_SJ_overhang=8 //minimum overhang (i.e. block size) for spliced alignments
        max_intron_size=1000000 //maximum intron length (dafault)
        max_mates_gap=600000 //maximum genomic distance between mates
        max_mismatches_ratio_to_ref=0.3 //max ratio of mismatches to *mapped* length (dafualt)
        max_mismatche_ratio_to_read=1 //max ratio of mismatches to *read* length (dafualt)
        norm_num_of_matches=0.66 //min number of matched bases normalized to the read length (sum of mates’ lengths for PE reads) (default)
        max_num_of_allignment=1 //max number of multiple alignments allowed for a read (if exceeded->unmapped)
        genome_load_set="NoSharedMemory" //genome shared memory is not used (dafault)
        num_of_threads=5 //?
        unmapped_out_files="Fastx" // unmapped reads will be output into separate file(s)Unmapped.out.mate1[2], formatted the same way as input read files
        output_files_permissions="All_RWX"

    // TRANSFORM_READS:

    // SECOND_MAP:
    //general:
    transformed_genomes='/private10/Projects/Gili/HE_workdir/genome_setup/generic_transform/hg38transform/transformed_genome/*'
    transformed_indexes='/private10/Projects/Gili/HE_workdir/genome_setup/generic_transform/hg38transform/genome_indexing/*'
    num_of_index_files=9

    //STAR secomd map parameters:
    STAR_MAX_PARALLEL=6
    load_genome_settings = "LoadAndExit" //controls how the genome is loaded into memory
                                                // LoadAndExit: the genome will be removed
                                                // from the shared memory once all STAR jobs using it exit
    second_map_genome_load_set = "LoadAndKeep"

    // RETRANSFORM:
    // general:
    original_reads="${params.first_map_output_dir}/*"
    filter_sam_files='*Aligned.out*'
    retransform_python_script="/private10/Projects/Gili/HE_workdir/HE_scripts/re-transform.py"
    python_command="python"
}

// container settings:
process {
    withName: FASTP {
        container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_2'
    }
    withName: FIRST_STAR_MAP {
        container = 'quay.io/biocontainers/star:2.7.10b--h9ee0642_0'
    }
    //withName: TRANSFORM_READS {
   //     container = 'quay.io/biocontainers/biopython'
   // } 
    withName: SECOND_STAR_MAP {
        container = 'quay.io/biocontainers/star:2.7.10b--h9ee0642_0'
    }
    withName: RETRANSFORM {
        container = 'quay.io/biocontainers/pysam:0.22.0--py38h15b938a_0'
    }

}

